body{
position:relative;
}

#mainpage{
position:absolute;
top: 0px;
left: 0px;
width: 1920px;
height: 981px;
background: #F8F9FB 0% 0% no-repeat padding-box;
opacity: 1;
z-index:-1;

}




.button1{
position:absolute;
top: 42px;
left: 1469px;
width: 156px;
height: 60px;
border: 2px solid #0F47C0;
border-radius: 32px;
opacity: 1;
}
.button1:hover {
   background-color: blue;
  color: black;
}

.button2{
	position:absolute;
	top: 43px;
left: 1658px;
width: 162px;
height: 59px;
background: #0F47C0 0% 0% no-repeat padding-box;
border-radius: 32px;
opacity: 1;

}
.button2:hover {
	 background-color: #ffffff;
  color: blue;
}
.wave_line{
	position:absolute;
	
top: 137px;
left: 80px;
width: 77px;
height: 36px;
background: transparent url('') 0% 0% no-repeat padding-box;
opacity: 1;
}
.row{
height:1500px;
}
#text1{
	position:absolute;
	
top: 247px;
left: 150px;
width: 854px;
height: 231px;
color: var(--unnamed-color-181818);
text-align: left;
font: normal normal bold 86px/122px Inter;
letter-spacing: 1.2px;
color: #181818;
opacity: 1;
}
.image_girl{
	position:absolute;
	top: 120px;
left: 972px;
width: 948px;
height: 912px;
background: transparent url('img/1920.png') 0% 0% no-repeat padding-box;
box-shadow: ;
opacity: 1;

}
#text2{
	position:absolute;

top: 521px;
left: 150px;
width: 679px;
height: 62px;
text-align: left;
font: normal normal normal 26px/36px Inter;
letter-spacing: 0.52px;
color: #747474;
opacity: 1;}
.getstarted{
position:absolute;
top: 660px;
left: 150px;
width: 198px;
height: 80px;
border-radius: 52px;
opacity: 1;
}
.getstarted:hover {
	 background-color: #ffffff;
  color: blue;
}
.button3text{
	position:absolute;
	top: 691px;
left: 192px;
width: 114px;
height: 22px;
text-align: center;
font: normal normal normal 22px/26px Inter;
letter-spacing: 0.44px;
color: #FFFFFF;
opacity: 1;
}
.button3 {
	position:absolute;
	top: 660px;
left: 150px;
width: 198px;
height: 80px;
background: #1C2333 0% 0% no-repeat padding-box;
border-radius: 52px;
opacity: 1;
}
#rect{
	position:absolute;
top: 891px;
left: 255px;
width: 1410px;
height: 180px;
position:absolute;
box-shadow: ;
border-radius: 20px;
opacity: 1;}
#testimonial{
	position: absolute;
top: 3482px;
left: 0px;
width: 1920px;
height: 870px;
background: #FFFFFF 0% 0% no-repeat padding-box;
opacity: 1;
}
#testimonialpicture{
	position: absolute;
	top: 3569px;
left: 221px;
width: 663px;
height: 663px;
background: #FFFFFF 0% 0% no-repeat padding-box;
opacity: 0.36;
}
#testimonialheading{
	position: absolute;
	top: 3605px;
left: 975px;
width: 671px;
height: 180px;
color: var(--unnamed-color-181818);
text-align: left;
font: normal normal bold 80px/100px Inter;
letter-spacing: 1.12px;
color: #181818;
opacity: 1}
#testimonialcontent{
	position: absolute;
	top: 3902px;
left: 975px;
width: 690px;
height: 129px;
text-align: left;
font: normal normal normal 22px/33px Inter;
letter-spacing: 0.44px;
color: #747474;
opacity: 1;
}
#testimonialauthor{
	position: absolute;
	top: 4081px;
left: 975px;
width: 197px;
height: 32px;
color: var(--unnamed-color-181818);
text-align: left;
font: normal normal normal 32px/38px Inter;
letter-spacing: 0.45px;
color: #181818;
opacity: 1;
}
#testimonialdesignation{
	position: absolute;
	top: 4129px;
left: 975px;
width: 168px;
height: 22px;
color: var(--unnamed-color-181818);
text-align: left;
font: normal normal normal 22px/26px Inter;
letter-spacing: 0.31px;
color: #181818;
opacity: 0.5;
}
#arrow1{
	position: absolute;
	top: 4191px;
left: 975px;
width: 57px;
height: 57px;
background: transparent url('Group 6017.png') 0% 0% no-repeat padding-box;
opacity: 1;
}
#arrow2{
	position: absolute;
	top: 4191px;
left: 1062px;
width: 57px;
height: 57px;
background: transparent url('Group 6018.png') 0% 0% no-repeat padding-box;
opacity: 1;
}

.carousel {
  width: 80vw;
  height: $carousel-height;
  position: relative;  
  .controls {
    transition: all ease 0.5s;
    .control {
      transition: ease .3s;
      cursor: pointer;
      
      &:hover {
        opacity: 1;
      }
    }
  }
  
    .slides {
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      display: flex;
      transition: 1s ease-in-out all;
      
      .slide {
        
      }
    }
}

